body,html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 170px;
    border: 1px solid black;
    margin: 12px;
}


.buttons{
    width: 360px;
    height: 360px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:0px;
}

button{
    width: 70px;
    height: 70px;
}